eureka:
  instance:
    hostname: 172.17.0.1
    leaseRenewalIntervalInSeconds: 1
    leaseExpirationDurationInSeconds: 1
  client:
    registryFetchIntervalSeconds: 1
    register-with-eureka: false
    fetch-registry: false
    service-url:
      defaultZone: http://${eureka.instance.hostname}:${server.port}/eureka/
management:
  health:
    livenessstate:
      enabled: true
    readinessstate:
      enabled: true
  endpoints:
    web:
      exposure:
        include: '*'
spring:
  security:
    oauth2:
      client:
        provider:
          keycloak:
            user-name-attribute: preferred_username
            issuer-uri: http://172.17.0.1:8082/realms/selmag
        registration:
          keycloak:
            client-id: eureka-server
            client-secret: CmiOMjFHzWqXMbde2p2r3Aco6DfE83Oj
            scope:
              - openid
      resourceserver:
        jwt:
          issuer-uri: http://172.17.0.1:8082/realms/selmag