<?xml version="1.0" encoding="UTF-8" ?>
<configuration>

    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />

    <if condition='isDefined("LOKI")'>
        <then>
            <appender name="LOKI" class="com.github.loki4j.logback.Loki4jAppender">
                <http>
                    <url>${LOKI}/loki/api/v1/push</url>
                </http>
                <format>
                    <label>
                        <pattern>app=selmag-config-server,host=${HOSTNAME},level=%level</pattern>
                    </label>
                    <message>
                        <pattern>l=%level h=${HOSTNAME} c=%logger{20} t=%thread | %msg %ex</pattern>
                    </message>
                    <sortByTime>true</sortByTime>
                </format>
            </appender>

            <root level="info">
                <appender-ref ref="CONSOLE"/>
                <appender-ref ref="LOKI"/>
            </root>
        </then>
        <else>
            <root level="info">
                <appender-ref ref="CONSOLE"/>
            </root>
        </else>
    </if>

</configuration>